
<div class="container">
  <div class="row">
      <% @restaurants.each do |restaurant| %>
        <%= link_to "/restaurants/#{restaurant.id}" do %>
          <div class="col-sm-4">
            <h2><%= restaurant.name %></h2> <p><%= restaurant.description %></p>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
