<div class="container">

<%= render 'reservation_form' %>


  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-default">11:00am</button>
      <button class="btn btn-default">2:00pm</button>
      <button class="btn btn-default">4:00pm</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

    </div>
    <ul class="col-sm-12">
      <li>Location: <%= @restaurant.location%></li>
      <li>Description: <%= @restaurant.description%></li>
      <li>Cuisine: <%= @restaurant.cuisine%></li>
    </ul>
  </div>
</div>
